body {
	margin: 0;
	background-color: black;
	box-sizing: border-box;
}
body * {
	font-family: 'Roboto Condensed', sans-serif;
	color: #0BD919;
}

/* GAME INFO */

header {
    padding-left: 3vw;
    padding-right: 3vw;
	margin-top: 3vh;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
}
footer {
    display: flex;
    justify-content: space-evenly;
}

/* GAME MESSSAGES */

#lives {
    position: absolute;
    top: 93vh;
    max-height: 7vh;
    left: 3vw;
    z-index: 1000;
}
#level {
    position: absolute;
    top: 93vh;
    max-height: 7vh;
    right: 3vw;
    z-index: 1000;
}


/* MODALS */

header h2 {
	margin: 0;
}
button {
    color: black;
}
button:hover {
    cursor: pointer;
    background-color: #FF3B31;
    transition: 0.5s ease;
}
.pause-modal, .end-level-modal, .turn-switch-modal, .game-over-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.pause-content, button {
    font-size: 13px;
}
.pause-content, .end-level-content, .turn-switch-content, .game-over-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #462980;
    padding: 2rem 2rem;
    width: 26rem;
    border-radius: 0.5rem;
}
#close-pause {
	float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: white;
    margin-bottom: 4px;
    transition: 0.5s;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: white;
    margin-bottom: 4px;
    transition: 0.5s;
}
.close-button:hover {
    background-color: #FF3B31;
    transition: 0.5s ease;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
#game-over-message {
    font-size: 40px;
}
/* CANVAS */

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/*ELEMENTS TO BE ANIMATED*/

#turn-start {
	position: absolute;
	text-align: center;
	top: 45vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
#extra-life {
    visibility: hidden;
    position: absolute;
    text-align: center;
    top: 45vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*ANIMATIONS*/

/* animations need to be switched so I can repeat */
@keyframes fadeAndScale {
	from {
		opacity: 1;
		transform: scale3d(1.5, 1.5, 1);
	}
	to {
		opacity: 0;
		transform: scale3d(.75, .75, 1);
	}
}
@keyframes fadeAndScale2 {
    from {
        opacity: 1;
        transform: scale3d(1.5, 1.5, 1);
    }
    to {
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
}

/* animations need to be switched so I can repeat */
@keyframes extraLives {
    from {
        visibility: visible;
        opacity: 1;
        transform: scale3d(1.5, 1.5, 1);
    }
    to {
        visibility: hidden;
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
}
@keyframes extraLives2 {
   from {
        visibility: visible;
        opacity: 1;
        transform: scale3d(1.5, 1.5, 1);
    }
    to {
        visibility: hidden;
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
}

.run-animation {
    position: relative;
    animation: fadeAndScale 1s ease-in forwards;
}