body {
	margin: 0;
	background-color: black;
	box-sizing: border-box;
}
body * {
	font-family: 'Roboto Condensed', sans-serif;
	color: #0BD919;
}
header {
	display: flex;
	justify-content: space-evenly;
}
#game-title {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	margin-bottom: 10vh;
	font-size: 34px;
}
nav a {
	text-decoration: none;
	display: block;
	width: 15vw;
	text-align: center;
	margin: auto;
	color: violet;
/*	background-color: #666666;
*/	transition: 0.3s;
	font-size: 26px;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
/*	z-index: 1000;
*/	background-color: black;
}
#backstory {
	visibility: hidden;
}

#name-modal {
	visibility: hidden;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8A69D9;
    padding: 2rem 2rem;
    width: 26rem;
    border-radius: 0.5rem;
}
.modal button {
    font-size: 13px;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: white;
    margin-bottom: 4px;
    transition: 0.5s;
}
.close-button:hover {
    background-color: #FF3B31;
    transition: 0.3s;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

button {
	color: black;
}
button:hover {
	cursor: pointer;
	background-color: firebrick;
	transition: 0.3s;
}
input:hover {
	cursor: text;
}
footer {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 95vh;
	font-size: 12px;
}
/*ELEMENTS TO ANIMATE



/*ANIMATIONS*/